@using  HorselessNewspaper.RazorClassLibrary.CMS.Default.Areas.Model;
@model ResetDatabaseModel;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<span>reset database</span>

<form asp-action="ResetDatabase" method="Post">
    <div class="form-group">
        <label for="IsMustResetDatabase">Reset Db</label>
        <input asp-for="IsMustResetDatabase" type="checkbox" id="IsMustResetDatabase"/>
    </div>
    <div class="form-group">
        <button type="submit"  class="btn btn-primary">Reset Database</button>
    </div>
</form>

<div>
    <span>Content Db Connection String</span>
    <span>@Model.ContentDbConnectionString</span>
</div>

<div>
    <span>Hosting Db Connection String</span>
    <span>@Model.HostingDbConnectionString</span>
</div>