@if (User.Claims != null && User.Claims.Count() > 0)
{
    await Html.RenderPartialAsync("_Sidebar");
}

@* canonical specificationo of a horseless cms root level container layout template*@
<HorselessView horseless-content-collection-id="">

</HorselessView>

<div class="sideNavBody">
    @if (User.Claims != null && User.Claims.Count() > 0)
    {
        await Html.RenderPartialAsync("_GrapeJS");
    }
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Horseless.Template.MVC.CMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>