<div class="container-fluid"">
    <div class="container-fluid">
        @if (User.Claims != null && User.Claims.Count() > 0)
        {
            await Html.RenderPartialAsync("_Sidebar");
        }
    </div>
    @* canonical specificationo of a horseless cms root level container layout template*@
    <HorselessView horseless-content-collection-id="">

    </HorselessView>

    @*<div class="sideNavBody">
        @if (User.Claims != null && User.Claims.Count() > 0)
        {
        await Html.RenderPartialAsync("_GrapeJS");
        }
        </div>*@
</div>
