@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* canonical specificationo of a horseless cms root level container layout template*@
<HorselessView horseless-content-collection-id="">
    <div>
        <partial name="_browser" />
    </div>
</HorselessView>
