<div>
  <div>horseless client harness: app component</div>
  <p-toolbar>
    <div class="p-toolbar-group-right">
      <ul ngbNav #nav="ngbNav" class="nav-pills">
        <li ngbNavItem>
          <a ngbNavLink>users</a>

          <ng-template ngbNavContent>
            <app-userblade></app-userblade>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>tenants</a>
          <ng-template ngbNavContent>
            <app-tenantblade></app-tenantblade>
          </ng-template>
        </li>
      </ul>
    </div>
  </p-toolbar>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> router outlet </mat-panel-title>
      <mat-panel-description>
        this is where router outlet content is displayed
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div [ngbNavOutlet]="nav"></div>
  </mat-expansion-panel>
  <div>
    <app-login></app-login>
  </div>
</div>
