<div>
  <div>horseless client harness: app component</div>
  <p-toolbar >
    <div class="p-toolbar-group-right">
      <p-button routerLink="/tenants" routerLinkActive="active" label="Tenant Blade" icon="pi"></p-button>
      <p-button routerLink="/users" routerLinkActive="active" label="User Blade" icon="pi" styleClass="p-button-success"></p-button>
    </div>
  </p-toolbar>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        router outlet
      </mat-panel-title>
      <mat-panel-description>
        this is where router outlet content is displayed
      </mat-panel-description>
    </mat-expansion-panel-header>
    <router-outlet></router-outlet>
  </mat-expansion-panel>
  <div>
    <app-login></app-login>
  </div>
</div>
