registry=https://registry.npmjs.org/
@vigouredelaruse:registry=https://pkgs.dev.azure.com/electricrucible/155346c4-4c3d-4269-a624-e98408645b68/_packaging/public-artifacts/npm/registry/
@horselessnewspaper:registry=https://registry.npmjs.org/
@wizardcontrollerprerelease:registry=https://registry.npmjs.org/
@wizardcontroller:registry=https://registry.npmjs.org/
always-auth=false
