@using HorselessNewspaper.Web.Core.Authorization.Model
@using TheHorselessNewspaper.Schemas.ContentModel.ContentEntities
<div>
    <span>Tenant Administrator Operator Surface</span>

    <horseless-tenant-admin></horseless-tenant-admin>
</div>


@section Scripts {

    <script src="~/_content/HorselessNewspaper.RazorClassLibrary.CMS.Default/js/horselessnewspaper/tenantAdmin/runtime.js" type="module"></script>
    <script src="~/_content/HorselessNewspaper.RazorClassLibrary.CMS.Default/js/horselessnewspaper/tenantAdmin/polyfills.js" type="module"></script>
    <script src="~/_content/HorselessNewspaper.RazorClassLibrary.CMS.Default/js/horselessnewspaper/tenantAdmin/main.js" type="module"></script>

}