registry=https://registry.npmjs.org/
@horselessnewspaper:registry=https://registry.npmjs.org/
@wizardcontrollerprerelease:registry=https://registry.npmjs.org/
@wizardcontroller:registry=https://registry.npmjs.org/
always-auth=false
