@* // as per https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/samples/Mvc.Client/Views/Authentication/SignIn.cshtml *@

@using Microsoft.AspNetCore.Authentication
@model AuthenticationScheme[]

<div class="container">

    <p class="lead text-left">you need to sign in</p>

</div>