@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <span>Content Administrator Operator </span>
    <horseless-content-admin></horseless-content-admin>
</div>

@section Scripts {

}