@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Sidebar  -->
<nav style="margin-top: 70px" id="sidebar">
    <div class="sidebar-header">
        <h3>Operations</h3>
    </div>
    <p>Dashboard</p>
    <ul class="list-unstyled components">

        <li class="active">
            <a href="#tenantSubMenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tenants</a>
            <ul class="collapse list-unstyled" id="tenantSubMenu">
                <li>
                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="TenantRegistration" asp-action="Registrants">Registrants</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="GlobalAdmin" asp-action="ResetDatabase">Database</a>
                </li>
                <li>
                    <a href="#">Security</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#servicesSubMenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Services</a>
            <ul class="collapse list-unstyled" id="servicesSubMenu">
                <li>
                    <a href="#">Tenant Cache</a>
                </li>
                <li>
                    <a href="#">In Memory Tenant Store</a>
                </li>
                <li>
                    <a href="#">Application Parts</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#contentSubMenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Content</a>
            <ul class="collapse list-unstyled" id="contentSubMenu">
                <li>
                    <a href="#">Routes</a>
                </li>
                <li>
                    <a href="#">Assets</a>
                </li>
            </ul>
        </li>


    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
        </li>
    </ul>
</nav>

