@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="panel__top">
    <div class="panel__basic-actions"></div>
</div>
<div id="gjs"></div>
<div id="blocks"></div>