@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Microsoft.AspNetCore.Authentication
@model AuthenticationScheme[]

@if (User.Claims == null || User.Claims.Count() == 0)
{
    <div>

        <p class="lead text-right">available authorities</p>
        <div >
            @foreach (var scheme in Model!.OrderBy(p => p.DisplayName))
            {
                <form action="/signin" method="post">
                    <input type="hidden" name="Provider" value="@scheme.Name" />
                    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />

                    <button class="btn btn-success m-1" type="submit">Connect using @scheme.DisplayName</button>
                </form>
            }
        </div>
    </div>
}
else
{
    <div>
        <div>Welcome, @User.Identity.Name</div>

        <form action="/signout" method="post">
            <button class="btn btn-success m-1" type="submit">Sign Out</button>
        </form>
     </div>
}